.detail-movie {
  background-color: #121212;
}
.detail-movie main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .detail-movie main {
    padding: 40px 40px;
  }
}
.detail-movie main .container-movie {
  padding-top: 48px;
}
@media (min-width: 992px) {
  .detail-movie main .container-movie {
    display: flex;
    flex-direction: row;
  }
}
.detail-movie main .container-movie .content-movie li {
  padding-bottom: 72px;
}
@media (min-width: 992px) {
  .detail-movie main .container-movie .content-movie li {
    display: flex;
    justify-content: space-between;
  }
}
.detail-movie main .container-movie .content-movie li .section-detail-movie {
  width: 100%;
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .detail-movie main .container-movie .content-movie li .section-detail-movie {
    width: 36%;
    margin: 0;
  }
}
.detail-movie main .container-movie .content-movie li .section-detail-movie h2 {
  display: flex;
  font-size: 1.8rem;
  padding: 0 0 8px 0;
  color: #7e7e7e;
}
.detail-movie main .container-movie .content-movie li .section-detail-movie figure img {
  width: 100%;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail {
  width: 100%;
}
@media (min-width: 992px) {
  .detail-movie main .container-movie .content-movie li .section-2-data-detail {
    width: 55%;
    padding-top: 48px;
  }
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail h3 {
  color: #ffffff;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail h4 {
  color: #c8c8c8;
  font-size: 1.2rem;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .star {
  color: #df7c05;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .sinopsis {
  padding: 24px 0 16px 0;
  margin: 0;
  color: #bebebe;
  font-weight: 400;
  line-height: 158%;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail a {
  width: 45%;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-primary,
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-secundary {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 40px;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-primary i,
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-secundary i {
  padding-right: 8px;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-primary {
  background-color: #ff0000;
  border: none;
  color: #121212;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-primary:hover {
  transform: scale(1.05);
  z-index: 2;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-secundary {
  background-color: #121212;
  border: 1px solid #ff0000;
  color: #ff0000;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.detail-movie main .container-movie .content-movie li .section-2-data-detail .buttoms-detail .button-secundary:hover {
  transform: scale(1.05);
  z-index: 2;
}

.detail-serie {
  background-color: #121212;
}
.detail-serie main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .detail-serie main {
    padding: 40px 40px;
  }
}
.detail-serie main .container-serie {
  padding-top: 40px;
}
.detail-serie main .container-serie .content-serie li {
  margin-bottom: 64px;
}
@media (min-width: 992px) {
  .detail-serie main .container-serie .content-serie li {
    display: flex;
    justify-content: space-between;
  }
}
.detail-serie main .container-serie .content-serie li .section-detail-serie {
  width: 100%;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .detail-serie main .container-serie .content-serie li .section-detail-serie {
    width: 45%;
  }
}
.detail-serie main .container-serie .content-serie li .section-detail-serie h2 {
  display: flex;
  font-size: 1.8rem;
  margin: 0 0 8px 0;
  color: #7e7e7e;
}
.detail-serie main .container-serie .content-serie li .section-detail-serie figure img {
  width: 100%;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail {
  width: 100%;
}
@media (min-width: 992px) {
  .detail-serie main .container-serie .content-serie li .section-2-data-detail {
    width: 45%;
    padding-top: 40px;
  }
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail h3 {
  color: #ffffff;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail h4 {
  color: #c8c8c8;
  font-size: 1.2rem;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .star {
  color: #df7c05;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .sinopsis {
  padding: 8px 0 16px 0;
  margin: 0;
  color: #ffffff;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail a {
  width: 45%;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-primary,
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-secundary {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 40px;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-primary i,
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-secundary i {
  padding-right: 8px;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-primary {
  background-color: #ff0000;
  border: none;
  color: #121212;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-primary:hover {
  transform: scale(1.05);
  z-index: 2;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-secundary {
  background-color: #121212;
  border: 1px solid #ff0000;
  color: #ff0000;
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.detail-serie main .container-serie .content-serie li .section-2-data-detail .buttoms-detail .button-secundary:hover {
  transform: scale(1.05);
  z-index: 2;
}/*# sourceMappingURL=style.css.map */