// Tipography
$font-family-base: 'Roboto', Arial, Helvetica, sans-serif;
$font-family-title: 'Oswald', sans-serif; 


// Sizes base8
$xs: 4px;
$s: 8px;
$m: 16px;
$l: 24px;
$xl: 32px;
$xxl: 40px;
$xxxl: 48px;

// Colors
$white: #ffffff;
$white-medium:#bebebe;
$black: #121212;
$green-action: #02ffa1;
$grey-text-card:#c8c8c8;
$grey-dark:#535353;
$grey-medium:#7e7e7e;
$primary:#ff0000;
$orange-rating:#df7c05;


// Border
$border-radius: $s;




